name: tests

on:
  pull_request:
  push:

jobs:
  flake8:
    name: Flake8
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Set Up Python
        uses: actions/setup-python@v1
        with:
          python-version: '3.8'
      - name: Install dependencies
        run: |
          python -m pip install -U pip
          python -m pip install flake8
      - name: Check
        run: python -m flake8
  test:
    name: Test
    needs: flake8
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python: ['3.6', '3.7', '3.8', '3.9', 'pypy3']
        os: ['ubuntu-latest', 'macOS-latest', 'windows-latest']
    steps:
      - uses: actions/checkout@v1
      - name: Set Up Python
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python }}
      - name: Install dependencies
        run: |
          python -m pip install -U pip
          python -m pip install -U -r requirements.txt pytest-coverage codecov
      - name: Run Tests
        run: python -m pytest --cov=aiuti --cov-report=xml
      - name: Upload Coverage
        run: python -m codecov --token=${{ secrets.CODECOV_TOKEN }}
